@import "tailwindcss";

html,
body {
  color: #fafafa;
  background: var(--color-tertiary);
}

main {
  background-color: var(--color-tertiary);
  height: 100vh;
  height: 100dvh;
}

@theme {
  --color-primary: #a51c2d;
  --color-secondary: #f33535;
  --color-tertiary: #020618;
  --color-quaternary: #293462;
  --swiper-pagination-color: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--color-tertiary) inset;
    -webkit-text-fill-color: white !important;
    border-bottom: 2px solid var(--color-primary);
  }
}

.swiper .swiper-pagination-bullet {
  background: var(--color-secondary);
  opacity: 0.5;
}

.swiper .swiper-pagination-bullet-active {
  background: var(--color-secondary);
  opacity: 1;
}
